@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff3700;
}

body {
  background: #000000;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  z-index: 10;
}

.nav-wrapper {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

.logo {
  font-size: 30px; 
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 800;
}

.nav {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav li {
  list-style: none;
  margin: 0 5px;

}
.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover a {
  color: var(--primary);
}

.search {
  position: relative;
  width: 200px; 
  height: 30px; 
}

.search input {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5); 
  border-radius: 4px;
  padding: 0 10px;
}

.search input::placeholder {
  color: #ffffff;
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #ffffff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/movies/bg-the-covenant.webp") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  max-width: 90%; 
  display: none;
  visibility: hidden;
  transform: scale(0);
  transition: 0.5s;
}

.content.active {
  display: block;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;
}

.movie-title {
  max-width: 100%; 
}

.banner .content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 24px; 
}

.banner .content h4 span {
  padding: 0 5px; 
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
  padding-left: 0;
}

.banner .content h4 span:last-child {
  border-right: none;
}

.banner .content h4 span i {
  background: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.banner .content p {
  font-size: 0.9em; 
  font-weight: 300;
  line-height: 1.5em;
  color: #ffffff;
  margin: 10px 0 20px;
}

.banner .content .button a {
  display: inline-block;
  margin-right: 5px; 
  background: var(--primary);
  color: #ffffff;
  padding: 5px 15px; 
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.banner .carousel-box {
  position: relative;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 20px 0; 
}
.banner .content .movie-title {
  width: 100%; 
  max-height: 150px; 
  object-fit: contain; 
}

.carousel {
  height: 500px; 
}

.carousel .carousel-item {
  flex: 1; 
  max-width: 150px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.carousel .carousel-item img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.carousel {
  height: 300px; 
}

.carousel .carousel-item {
  width: 150px; 
  cursor: pointer;
}

.carousel .carousel-item img {
  max-width: 100%;
  border-radius: 10px;
}

.play {
  position: absolute;
  bottom: 50px;
  left: 20px; 
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em; 
}

.play i {
  margin-right: 5px; 
  font-size: 30px; 
}

.play:hover {
  color: var(--primary);
}

.sci {
  position: absolute;
  bottom: 50px;
  right: 20px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.sci a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px; 
  transition: 0.3s;
  cursor: pointer;
}

.sci a:hover {
  color: var(--primary);
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 90%; 
  height: 90%; 
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.trailer .active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  max-width: 100%;
  outline: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 30px;
}



@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .logo {
    font-size: 24px; 
  }

  .search {
    width: 100%; 
  }

  .banner {
    padding: 0 10px;
  }

  .banner .content h4 {
    font-size: 20px;
  }

  .banner .content p {
    font-size: 0.8em; 
  }

  .banner .content .button a {
    padding: 5px 10px; 
  }

  .carousel {
    height: 200px; 
  }

  .carousel .carousel-item {
    width: 120px; 
  }

  .play,
  .sci {
    font-size: 0.9em; 
  }

  .trailer {
    width: 95%; 
    height: 95%; 
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 18px; 
  }
}

#hamburger-menu {
  display: none; 
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%; 
  height: 100%;
  background-color: #000;
  transition: left 0.3s ease-in-out;
  z-index: 20;
  padding: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 20px 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.sidebar-menu li a:hover {
  background-color: #1a1a1a; 
  color: #ff6347; 
  border-radius: 5px; /
}
.close-btn {
  font-size: 24px;
  color: white;
  text-align: right;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  #hamburger-menu {
    display: block;
  }

  .nav {
    display: none; 
  }
}
@media (max-width: 768px) {
  .nav-wrapper {
    display: none; 
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
}


